In [93]:
import pandas as pd
food_nutrient = pd.read_csv("food_nutrient.csv")
branded_food = pd.read_csv("branded_food.csv")

In [94]:
url_food_nutrient = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/food_nutrient.csv"

food_nutrient = pd.read_csv(url_food_nutrient)
food_nutrient.head(15)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
3,1107475,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
4,1107528,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
5,1108007,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
6,1108158,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
7,1108349,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
8,1108803,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
9,1108908,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
10,1109116,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
11,1109336,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
12,1109393,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
13,1109400,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
14,1109434,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G

In [95]:
food_nutrient = food_nutrient.drop_duplicates(subset=["fdc_id", "name"])

In [96]:

food_nutrient_pivot = pd.pivot(food_nutrient, index="fdc_id", columns="name", values="amount")
food_nutrient_pivot.head()

name,"Ergosta-5,7-dienol",25-hydroxycholecalciferol,Alanine,"Alcohol, ethyl",Arginine,Ash,Aspartic acid,Beta-glucan,Beta-sitostanol,Beta-sitosterol,...,Vitamin K (phylloquinone),Water,Xylitol,Zeaxanthin,"Zinc, Zn",cis-Lutein/Zeaxanthin,cis-Lycopene,cis-beta-Carotene,trans-Lycopene,trans-beta-Carotene
fdc_id,,,,,,,,,,,,,,,,,,,,,
167551,NaN,NaN,0.392,0.0,0.489,1.80,0.572,NaN,NaN,NaN,...,3.9,3.30,NaN,NaN,1.24,NaN,NaN,NaN,NaN,NaN
167711,NaN,NaN,NaN,0.0,NaN,0.58,NaN,NaN,NaN,NaN,...,0.1,87.63,NaN,NaN,0.16,NaN,NaN,NaN,NaN,NaN
168370,NaN,NaN,1.782,0.0,2.004,1.14,2.910,NaN,NaN,NaN,...,0.0,66.99,NaN,NaN,2.86,NaN,NaN,NaN,NaN,NaN
168460,NaN,NaN,0.355,0.0,0.585,1.10,1.148,NaN,NaN,NaN,...,70.6,79.45,NaN,NaN,1.04,NaN,NaN,NaN,NaN,NaN
168526,NaN,NaN,NaN,NaN,0.222,1.24,NaN,NaN,NaN,NaN,...,NaN,75.48,NaN,NaN,1.03,NaN,NaN,NaN,NaN,NaN

In [97]:
food = pd.concat([pd.read_csv("food_sample_100.csv"), pd.read_csv("food_other.csv")], ignore_index=True)
branded_food = pd.read_csv("branded_food.csv")
food = pd.concat([pd.read_csv("food_sample_100.csv"), pd.read_csv("food_other.csv")], ignore_index=True)
food_brands = pd.merge(food, branded_food, on="fdc_id")

In [98]:
food_nutrient_pivot.columns

Index([' Ergosta-5,7-dienol', '25-hydroxycholecalciferol', 'Alanine',
       'Alcohol, ethyl', 'Arginine', 'Ash', 'Aspartic acid', 'Beta-glucan',
       'Beta-sitostanol', 'Beta-sitosterol',
       ...
       'Vitamin K (phylloquinone)', 'Water', 'Xylitol', 'Zeaxanthin',
       'Zinc, Zn', 'cis-Lutein/Zeaxanthin', 'cis-Lycopene',
       'cis-beta-Carotene', 'trans-Lycopene', 'trans-beta-Carotene'],
      dtype='object', name='name', length=205)

In [99]:
food_nutrient_pivot.shape

(9987, 205)

In [112]:
food_nutrient_pivot.head()

,fdc_id,"Ergosta-5,7-dienol",25-hydroxycholecalciferol,Alanine,"Alcohol, ethyl",Arginine,Ash,Aspartic acid,Beta-glucan,Beta-sitostanol,...,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description,Cholesterol Category
0,379746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LI,NaN,2018-03-11,2019-04-01,United States,NaN,NaN,NaN,NaN,NaN
12,1574124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LI,NaN,2018-10-05,2021-03-19,United States,NaN,NaN,NaN,NaN,Low Cholesterol
13,1633356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LI,NaN,2019-07-11,2021-03-19,United States,NaN,NaN,NaN,NaN,NaN
15,1790096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LI,55 g,2021-03-24,2021-06-17,United States,NaN,NaN,NaN,NaN,NaN
20,2387243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LI,6 oz/170 g,2022-11-14,2022-12-22,United States,NaN,NaN,NaN,NaN,Moderate Cholesterol

In [116]:
food_nutrient_pivot.shape

(7, 230)

In [135]:
food_nutrient = food_nutrient.drop_duplicates(subset=["fdc_id", "name"])

In [131]:
import seaborn as sns

In [145]:
bins = [0, 20, 100, float('inf')]
labels = ['Low Cholesterol', 'Moderate Cholesterol', 'High Cholesterol']
food_nutrient_pivot['Cholesterol Category'] = pd.cut(food_nutrient_pivot['Cholesterol'], bins=bins, labels=labels)
food_nutrient_pivot

,fdc_id,"Ergosta-5,7-dienol",25-hydroxycholecalciferol,Alanine,"Alcohol, ethyl",Arginine,Ash,Aspartic acid,Beta-glucan,Beta-sitostanol,...,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
0,379746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Other Snacks,LI,NaN,2018-03-11,2019-04-01,United States,NaN,NaN,NaN,NaN
1,1574124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Snack, Energy & Granola Bars",LI,NaN,2018-10-05,2021-03-19,United States,NaN,NaN,NaN,NaN
2,1633356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Other Snacks,LI,NaN,2019-07-11,2021-03-19,United States,NaN,NaN,NaN,NaN
3,1790096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Cookies & Biscuits,LI,55 g,2021-03-24,2021-06-17,United States,NaN,NaN,NaN,NaN
4,2387243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Cheese,LI,6 oz/170 g,2022-11-14,2022-12-22,United States,NaN,NaN,NaN,NaN
5,2543247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Candy,LI,10 oz/283 g,2018-10-04,2023-05-25,United States,NaN,NaN,NaN,NaN
6,2550499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Pickles, Olives, Peppers & Relishes",LI,7 oz,2023-03-27,2023-05-25,United States,NaN,NaN,NaN,NaN