In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statistics

In [4]:
data = pd.read_csv("olympiada.csv")
data

                       Země  Zlato  Stříbro  Bronz
0    Spojené státy americké     46       37     38
1        Spojené království     27       23     17
2                      Čína     26       18     26
3                     Rusko     19       18     19
4                   Německo     17       10     15
..                      ...    ...      ...    ...
82                Moldavsko      0        0      1
83                  Nigérie      0        0      1
84              Portugalsko      0        0      1
85        Trinidad a Tobago      0        0      1
86  Spojené arabské emiráty      0        0      1

[87 rows x 4 columns]

In [5]:
data["Zlato"]

0     46
1     27
2     26
3     19
4     17
      ..
82     0
83     0
84     0
85     0
86     0
Name: Zlato, Length: 87, dtype: int64

In [6]:
data["Zlato"].unique()

array([46, 27, 26, 19, 17, 12, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0],
      dtype=int64)

In [11]:
zlate_medaile = data["Zlato"].sum() #Celkový počet zlatých medailí - 307
zlate_medaile

307

In [7]:
data["Země"].unique()

array(['Spojené státy americké', 'Spojené království', 'Čína', 'Rusko',
       'Německo', 'Japonsko', 'Francie', 'Jižní Korea', 'Itálie',
       'Austrálie', 'Nizozemsko', 'Maďarsko', 'Brazílie', 'Španělsko',
       'Keňa', 'Jamajka', 'Chorvatsko', 'Kuba', 'Nový Zéland', 'Kanada',
       'Uzbekistán', 'Kazachstán', 'Kolumbie', 'Švýcarsko', 'Irán',
       'Řecko', 'Argentina', 'Dánsko', 'Švédsko', 'Jihoafrická republika',
       'Ukrajina', 'Srbsko', 'Polsko', 'Severní Korea', 'Belgie',
       'Thajsko', 'Slovensko', 'Gruzie', 'Ázerbájdžán', 'Bělorusko',
       'Turecko', 'Arménie', 'Česko', 'Etiopie', 'Slovinsko', 'Indonésie',
       'Rumunsko', 'Bahrajn', 'Vietnam', 'Tchaj-wan', 'Bahamy',
       'Pobřeží slonoviny', 'Individuální olympijští atleti', 'Fidži',
       'Jordánsko', 'Kosovská republika|Kosovo', 'Portoriko', 'Singapur',
       'Tádžikistán', 'Malajsie', 'Mexiko', 'Alžírsko', 'Irsko', 'Litva',
       'Bulharsko', 'Venezuela', 'Indie', 'Mongolsko', 'Burundi',
       'Grenada', 'Niger', 'Filipíny', 'Katar', 'Norsko', 'Egypt',
       'Tunisko', 'Izrael', 'Rakousko', 'Dominikánská republika',
       'Estonsko', 'Finsko', 'Maroko', 'Moldavsko', 'Nigérie',
       'Portugalsko', 'Trinidad a Tobago', 'Spojené arabské emiráty'],
      dtype=object)

In [14]:
data["Bronz"].sum()

360